# **Analítica Computacional para la toma de Decisiones Avanzada 202610**
### *Departamento de Ingeniería Industrial* 
### TALLER 4

Daniel Benavides, Juanita Cortés
 
<d.benavidess@uniandes.edu.co, jv.cortesv1@uniandes.edu.co>

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('WHO-COVID-19-global-daily-data.csv')
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,AF,Afghanistan,EMR,NaN,0,NaN,0
1,2020-01-04,DZ,Algeria,AFR,NaN,0,NaN,0
2,2020-01-04,AL,Albania,EUR,NaN,0,NaN,0
3,2020-01-04,AI,Anguilla,AMR,NaN,0,NaN,0
4,2020-01-04,AS,American Samoa,WPR,0.0,0,0.0,0