# Analítica computacional para la toma de decisiones

Departamento de Ingeniería Industrial

Universidad de los Andes

## Pandas para manipulación de datos: Series y DataFrames

In [1]:
import numpy as np
import pandas as pd

## Series

In [2]:
ser = pd.Series([2, 3, 5, 8])

In [3]:
ser

0    2
1    3
2    5
3    8
dtype: int64

In [4]:
type(ser)

pandas.core.series.Series

In [5]:
ser = pd.Series(['a', 'b', 5, 8])
ser

0    a
1    b
2    5
3    8
dtype: object

In [6]:
ser = pd.Series(['a', 'b', 'f', 'c'])
ser

0    a
1    b
2    f
3    c
dtype: object

In [7]:
ser = pd.Series([2., 3, 5, 8])
ser

0    2.0
1    3.0
2    5.0
3    8.0
dtype: float64

### Índices

In [8]:
ser.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
lista_indices = ['carlos', 'maria', 'pedro', 'susana']
ser = pd.Series([2., 3, 5, 8], index = lista_indices)
ser

carlos    2.0
maria     3.0
pedro     5.0
susana    8.0
dtype: float64

In [10]:
a = ser['carlos']
a

np.float64(2.0)

In [11]:
type(a)

numpy.float64

In [12]:
ser[['carlos', 'susana']]

carlos    2.0
susana    8.0
dtype: float64

In [13]:
ser>3

carlos    False
maria     False
pedro      True
susana     True
dtype: bool

In [14]:
ser2 = ser[ser>3]
ser2

pedro     5.0
susana    8.0
dtype: float64

In [15]:
ser

carlos    2.0
maria     3.0
pedro     5.0
susana    8.0
dtype: float64

In [16]:
ser.index

Index(['carlos', 'maria', 'pedro', 'susana'], dtype='object')

In [17]:
'carlosv' in ser.index

False

In [18]:
ser.index.isin(['carlos'])

array([ True, False, False, False])

In [19]:
ser.index.isin(['carlos', 'susana'])

array([ True, False, False,  True])

In [20]:
ser.index.is_unique

True

In [21]:
ser2 = pd.Series([25, 30], index=['carlos', 'camila'])
ser2

carlos    25
camila    30
dtype: int64

In [22]:
idx3 = ser.index.union(ser2.index)
idx3

Index(['camila', 'carlos', 'maria', 'pedro', 'susana'], dtype='object')

In [23]:
ser3 = pd.Series(['a', 'a', 'b', 'a', 'c'], index=idx3)
ser3

camila    a
carlos    a
maria     b
pedro     a
susana    c
dtype: object

### Series y diccionarios

In [24]:
capitales = {
  "Uruguay": "Montevideo",
  "Argentina": "Buenos Aires",
  "Brasil": "Brasilia"
}
ser_capitales = pd.Series(capitales)
ser_capitales

Uruguay        Montevideo
Argentina    Buenos Aires
Brasil           Brasilia
dtype: object

In [25]:
dict_init = ser.to_dict()
dict_init

{'carlos': 2.0, 'maria': 3.0, 'pedro': 5.0, 'susana': 8.0}

In [26]:
capitales_b = {
  "Uruguay": "Montevideo",
  "Argentina": "Buenos Aires",
  "Colombia": "Bogota",
  "Perú": "Lima"
}

In [27]:
indice_paises = ["Uruguay", "Argentina", "Brasil"]

In [28]:
ser_capitales = pd.Series(capitales_b, indice_paises)
ser_capitales

Uruguay        Montevideo
Argentina    Buenos Aires
Brasil                NaN
dtype: object

In [29]:
ser_capitales.isna()

Uruguay      False
Argentina    False
Brasil        True
dtype: bool

In [30]:
ser_capitales.isna().sum()

np.int64(1)

### Operaciones con Series

In [31]:
paises1 = {
  "Uruguay": 1000,
  "Argentina": 2000,
  "Brasil": 5000
}
paises2 = {
  "Argentina": 2,
  "Uruguay": 30,
  "Brasil": 10
}
ser_paises1 = pd.Series(paises1)
ser_paises2 = pd.Series(paises2)

In [32]:
ser_paises1+ser_paises2

Argentina    2002
Brasil       5010
Uruguay      1030
dtype: int64

### Eliminar registro de Serie

In [33]:
del ser_paises1['Argentina']
ser_paises1

Uruguay    1000
Brasil     5000
dtype: int64

## Dataframes

In [34]:
#creación de dataframe desde un diccionario

data = {"pais": ["Uru", "Uru", "Uru", "Arg", "Arg", "Arg", "Bra", "Bra"],
        "año": [2022, 2021, 2020, 2020, 2021, 2022, 2020, 2021],
        "pop": [3.422, 3.426, 3.429, 45.38, 45.81, 46.23, 213.2, 214.3]}
df = pd.DataFrame(data)
df

  pais   año      pop
0  Uru  2022    3.422
1  Uru  2021    3.426
2  Uru  2020    3.429
3  Arg  2020   45.380
4  Arg  2021   45.810
5  Arg  2022   46.230
6  Bra  2020  213.200
7  Bra  2021  214.300

In [35]:
df.head()

  pais   año     pop
0  Uru  2022   3.422
1  Uru  2021   3.426
2  Uru  2020   3.429
3  Arg  2020  45.380
4  Arg  2021  45.810

In [36]:
df.head(3)

  pais   año    pop
0  Uru  2022  3.422
1  Uru  2021  3.426
2  Uru  2020  3.429

In [37]:
df.tail()

  pais   año     pop
3  Arg  2020   45.38
4  Arg  2021   45.81
5  Arg  2022   46.23
6  Bra  2020  213.20
7  Bra  2021  214.30

### Seleccionar, agregar y elimnar columnas

In [38]:
df['pais']

0    Uru
1    Uru
2    Uru
3    Arg
4    Arg
5    Arg
6    Bra
7    Bra
Name: pais, dtype: object

In [39]:
df.pais

0    Uru
1    Uru
2    Uru
3    Arg
4    Arg
5    Arg
6    Bra
7    Bra
Name: pais, dtype: object

In [40]:
df.año

0    2022
1    2021
2    2020
3    2020
4    2021
5    2022
6    2020
7    2021
Name: año, dtype: int64

In [41]:
df[['pais', 'año']]

  pais   año
0  Uru  2022
1  Uru  2021
2  Uru  2020
3  Arg  2020
4  Arg  2021
5  Arg  2022
6  Bra  2020
7  Bra  2021

In [42]:
df['area'] = 1000
df

  pais   año      pop  area
0  Uru  2022    3.422  1000
1  Uru  2021    3.426  1000
2  Uru  2020    3.429  1000
3  Arg  2020   45.380  1000
4  Arg  2021   45.810  1000
5  Arg  2022   46.230  1000
6  Bra  2020  213.200  1000
7  Bra  2021  214.300  1000

In [43]:
(np.arange(8)+1)*1000

array([1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000])

In [44]:
df['area'] = (np.arange(8)+1)*1000
df

  pais   año      pop  area
0  Uru  2022    3.422  1000
1  Uru  2021    3.426  2000
2  Uru  2020    3.429  3000
3  Arg  2020   45.380  4000
4  Arg  2021   45.810  5000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

In [45]:
type(df["pais"] == 'Bra')

pandas.core.series.Series

In [46]:
df['portugues'] = df["pais"] == 'Bra'
df

  pais   año      pop  area  portugues
0  Uru  2022    3.422  1000      False
1  Uru  2021    3.426  2000      False
2  Uru  2020    3.429  3000      False
3  Arg  2020   45.380  4000      False
4  Arg  2021   45.810  5000      False
5  Arg  2022   46.230  6000      False
6  Bra  2020  213.200  7000       True
7  Bra  2021  214.300  8000       True

In [47]:
del df['portugues']
df

  pais   año      pop  area
0  Uru  2022    3.422  1000
1  Uru  2021    3.426  2000
2  Uru  2020    3.429  3000
3  Arg  2020   45.380  4000
4  Arg  2021   45.810  5000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

In [48]:
df

  pais   año      pop  area
0  Uru  2022    3.422  1000
1  Uru  2021    3.426  2000
2  Uru  2020    3.429  3000
3  Arg  2020   45.380  4000
4  Arg  2021   45.810  5000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

### Dataframe a diccionario/numpy

In [49]:
df.to_dict()

{'pais': {0: 'Uru',
  1: 'Uru',
  2: 'Uru',
  3: 'Arg',
  4: 'Arg',
  5: 'Arg',
  6: 'Bra',
  7: 'Bra'},
 'año': {0: 2022,
  1: 2021,
  2: 2020,
  3: 2020,
  4: 2021,
  5: 2022,
  6: 2020,
  7: 2021},
 'pop': {0: 3.422,
  1: 3.426,
  2: 3.429,
  3: 45.38,
  4: 45.81,
  5: 46.23,
  6: 213.2,
  7: 214.3},
 'area': {0: 1000,
  1: 2000,
  2: 3000,
  3: 4000,
  4: 5000,
  5: 6000,
  6: 7000,
  7: 8000}}

In [50]:
df.to_numpy()

array([['Uru', 2022, 3.422, 1000],
       ['Uru', 2021, 3.426, 2000],
       ['Uru', 2020, 3.429, 3000],
       ['Arg', 2020, 45.38, 4000],
       ['Arg', 2021, 45.81, 5000],
       ['Arg', 2022, 46.23, 6000],
       ['Bra', 2020, 213.2, 7000],
       ['Bra', 2021, 214.3, 8000]], dtype=object)

### Eliminar filas/columnas con drop

In [51]:
paises1 = {
  "Uruguay": 1000,
  "Argentina": 2000,
  "Brasil": 5000
}
ser_paises1 = pd.Series(paises1)

In [52]:
ser_paises1.drop(['Argentina'])

Uruguay    1000
Brasil     5000
dtype: int64

In [53]:
ser_paises1

Uruguay      1000
Argentina    2000
Brasil       5000
dtype: int64

In [54]:
ser2 = ser_paises1.drop(['Argentina', 'Brasil'])
ser2

Uruguay    1000
dtype: int64

In [55]:
ser_paises1

Uruguay      1000
Argentina    2000
Brasil       5000
dtype: int64

In [56]:
df

  pais   año      pop  area
0  Uru  2022    3.422  1000
1  Uru  2021    3.426  2000
2  Uru  2020    3.429  3000
3  Arg  2020   45.380  4000
4  Arg  2021   45.810  5000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

In [57]:
df.drop(index=[0, 2, 4])

  pais   año      pop  area
1  Uru  2021    3.426  2000
3  Arg  2020   45.380  4000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

In [58]:
df

  pais   año      pop  area
0  Uru  2022    3.422  1000
1  Uru  2021    3.426  2000
2  Uru  2020    3.429  3000
3  Arg  2020   45.380  4000
4  Arg  2021   45.810  5000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

In [59]:
df.drop(columns=['area'])

  pais   año      pop
0  Uru  2022    3.422
1  Uru  2021    3.426
2  Uru  2020    3.429
3  Arg  2020   45.380
4  Arg  2021   45.810
5  Arg  2022   46.230
6  Bra  2020  213.200
7  Bra  2021  214.300

In [60]:
df

  pais   año      pop  area
0  Uru  2022    3.422  1000
1  Uru  2021    3.426  2000
2  Uru  2020    3.429  3000
3  Arg  2020   45.380  4000
4  Arg  2021   45.810  5000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

In [61]:
df.drop(index = [0, 2], columns = 'area')

  pais   año      pop
1  Uru  2021    3.426
3  Arg  2020   45.380
4  Arg  2021   45.810
5  Arg  2022   46.230
6  Bra  2020  213.200
7  Bra  2021  214.300

In [62]:
df.drop('area', axis=1)

  pais   año      pop
0  Uru  2022    3.422
1  Uru  2021    3.426
2  Uru  2020    3.429
3  Arg  2020   45.380
4  Arg  2021   45.810
5  Arg  2022   46.230
6  Bra  2020  213.200
7  Bra  2021  214.300

In [63]:
df.drop([0, 2], axis=0)

  pais   año      pop  area
1  Uru  2021    3.426  2000
3  Arg  2020   45.380  4000
4  Arg  2021   45.810  5000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

In [64]:
df.drop('area', axis='columns')

  pais   año      pop
0  Uru  2022    3.422
1  Uru  2021    3.426
2  Uru  2020    3.429
3  Arg  2020   45.380
4  Arg  2021   45.810
5  Arg  2022   46.230
6  Bra  2020  213.200
7  Bra  2021  214.300

In [65]:
df.drop([0, 2], axis='rows')

  pais   año      pop  area
1  Uru  2021    3.426  2000
3  Arg  2020   45.380  4000
4  Arg  2021   45.810  5000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

## Selección y filtrado

### Series

In [66]:
ser_paises1

Uruguay      1000
Argentina    2000
Brasil       5000
dtype: int64

In [67]:
ser_paises1[1:3]

Argentina    2000
Brasil       5000
dtype: int64

Usando iloc

In [68]:
ser_paises1.iloc[1:3]

Argentina    2000
Brasil       5000
dtype: int64

In [69]:
ser_paises1.iloc[[0, 2]]

Uruguay    1000
Brasil     5000
dtype: int64

Usando loc

In [70]:
ser_paises1.loc['Brasil']

np.int64(5000)

In [71]:
ser_paises1.loc[['Uruguay', 'Brasil']]

Uruguay    1000
Brasil     5000
dtype: int64

In [72]:
ser_paises1.loc['Uruguay':'Brasil']

Uruguay      1000
Argentina    2000
Brasil       5000
dtype: int64

### Dataframes

In [73]:
df

  pais   año      pop  area
0  Uru  2022    3.422  1000
1  Uru  2021    3.426  2000
2  Uru  2020    3.429  3000
3  Arg  2020   45.380  4000
4  Arg  2021   45.810  5000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

In [74]:
df['area']

0    1000
1    2000
2    3000
3    4000
4    5000
5    6000
6    7000
7    8000
Name: area, dtype: int64

In [75]:
df[['año', 'area']]

    año  area
0  2022  1000
1  2021  2000
2  2020  3000
3  2020  4000
4  2021  5000
5  2022  6000
6  2020  7000
7  2021  8000

In [76]:
df[1:3]

  pais   año    pop  area
1  Uru  2021  3.426  2000
2  Uru  2020  3.429  3000

In [77]:
df[:3]

  pais   año    pop  area
0  Uru  2022  3.422  1000
1  Uru  2021  3.426  2000
2  Uru  2020  3.429  3000

In [78]:
df[3:]

  pais   año     pop  area
3  Arg  2020   45.38  4000
4  Arg  2021   45.81  5000
5  Arg  2022   46.23  6000
6  Bra  2020  213.20  7000
7  Bra  2021  214.30  8000

In [79]:
df["pop"] < 10

0     True
1     True
2     True
3    False
4    False
5    False
6    False
7    False
Name: pop, dtype: bool

In [80]:
df[ df["pop"] < 10 ]

  pais   año    pop  area
0  Uru  2022  3.422  1000
1  Uru  2021  3.426  2000
2  Uru  2020  3.429  3000

In [81]:
df[ df["pop"] < 10 ][['pais', 'año', 'pop']]

  pais   año    pop
0  Uru  2022  3.422
1  Uru  2021  3.426
2  Uru  2020  3.429

Usando loc

In [82]:
df.loc[0]

pais      Uru
año      2022
pop     3.422
area     1000
Name: 0, dtype: object

In [83]:
df.loc[[0,2]]

  pais   año    pop  area
0  Uru  2022  3.422  1000
2  Uru  2020  3.429  3000

In [84]:
df.loc[0, 'pop']

np.float64(3.422)

In [85]:
df.loc[[0,2], 'pop']

0    3.422
2    3.429
Name: pop, dtype: float64

In [86]:
df.loc[:, 'pop']

0      3.422
1      3.426
2      3.429
3     45.380
4     45.810
5     46.230
6    213.200
7    214.300
Name: pop, dtype: float64

In [87]:
df.loc[:, ['pais','pop']]

  pais      pop
0  Uru    3.422
1  Uru    3.426
2  Uru    3.429
3  Arg   45.380
4  Arg   45.810
5  Arg   46.230
6  Bra  213.200
7  Bra  214.300

Usando iloc

In [88]:
df.iloc[2]

pais      Uru
año      2020
pop     3.429
area     3000
Name: 2, dtype: object

In [89]:
df.iloc[2,2]

np.float64(3.429)

In [90]:
df.iloc[2:5,2:4]

      pop  area
2   3.429  3000
3  45.380  4000
4  45.810  5000

In [91]:
df.iloc[:,0:3]

  pais   año      pop
0  Uru  2022    3.422
1  Uru  2021    3.426
2  Uru  2020    3.429
3  Arg  2020   45.380
4  Arg  2021   45.810
5  Arg  2022   46.230
6  Bra  2020  213.200
7  Bra  2021  214.300

In [92]:
df.iloc[:,-1]

0    1000
1    2000
2    3000
3    4000
4    5000
5    6000
6    7000
7    8000
Name: area, dtype: int64

In [93]:
df.iloc[:,-2]

0      3.422
1      3.426
2      3.429
3     45.380
4     45.810
5     46.230
6    213.200
7    214.300
Name: pop, dtype: float64

## Operaciones aritméticas, NAs y valores de reemplazo

In [94]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                    columns=list("abcd"))
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [95]:
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list("abcde"))
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [96]:
df1+df2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

In [97]:
df1.add(df2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [98]:
df2.add(df1, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [99]:
df1.sub(df2, fill_value=0)

      a     b     c     d     e
0   0.0   0.0   0.0   0.0  -4.0
1  -1.0  -1.0  -1.0  -1.0  -9.0
2  -2.0  -2.0  -2.0  -2.0 -14.0
3 -15.0 -16.0 -17.0 -18.0 -19.0

In [100]:
df2.sub(df1, fill_value=0)

      a     b     c     d     e
0   0.0   0.0   0.0   0.0   4.0
1   1.0   1.0   1.0   1.0   9.0
2   2.0   2.0   2.0   2.0  14.0
3  15.0  16.0  17.0  18.0  19.0

Invirtiendo argumentos

In [101]:
df1.rsub(df2, fill_value=0)

      a     b     c     d     e
0   0.0   0.0   0.0   0.0   4.0
1   1.0   1.0   1.0   1.0   9.0
2   2.0   2.0   2.0   2.0  14.0
3  15.0  16.0  17.0  18.0  19.0

## Aplicación de funciones (apply)

In [102]:
df

  pais   año      pop  area
0  Uru  2022    3.422  1000
1  Uru  2021    3.426  2000
2  Uru  2020    3.429  3000
3  Arg  2020   45.380  4000
4  Arg  2021   45.810  5000
5  Arg  2022   46.230  6000
6  Bra  2020  213.200  7000
7  Bra  2021  214.300  8000

In [103]:
df_temp = df.drop(["pais"], axis=1)

In [104]:
def rango(x):
  return x.max() - x.min()

In [105]:
df_temp.apply(rango, axis='rows') # calcula a lo largo del eje fila - para cada columna

año        2.000
pop      210.878
area    7000.000
dtype: float64

In [106]:
def elevar2(x):
  return x**2

In [107]:
df_temp.apply(elevar2)

       año           pop      area
0  4088484     11.710084   1000000
1  4084441     11.737476   4000000
2  4080400     11.758041   9000000
3  4080400   2059.344400  16000000
4  4084441   2098.556100  25000000
5  4088484   2137.212900  36000000
6  4080400  45454.240000  49000000
7  4084441  45924.490000  64000000

In [108]:
df_temp['area'].apply(elevar2)

0     1000000
1     4000000
2     9000000
3    16000000
4    25000000
5    36000000
6    49000000
7    64000000
Name: area, dtype: int64

In [109]:
df_temp.applymap(elevar2)

C:\Rtemp\ipykernel_13596\3348920880.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_temp.applymap(elevar2)

       año           pop      area
0  4088484     11.710084   1000000
1  4084441     11.737476   4000000
2  4080400     11.758041   9000000
3  4080400   2059.344400  16000000
4  4084441   2098.556100  25000000
5  4088484   2137.212900  36000000
6  4080400  45454.240000  49000000
7  4084441  45924.490000  64000000